@import 'imports/global';

.aui-progress-indicator {
    background: @aui-progress-indicator-bg-color;
    border-radius: 3px;
    height: 5px;
    overflow: hidden;
    position: relative;  /* so that animations work */
    width: 100%;
}

.aui-progress-indicator-value {
    -o-animation: progressSlide 1s infinite linear;
    -webkit-animation: progressSlide 1s infinite linear;
    animation: progressSlide 1s infinite linear;
    background: transparent;
    background-size: 20px 5px;
    background-image: -webkit-linear-gradient(90deg, @aui-progress-indicator-bar-color 50%, transparent 50%, transparent 100%);
    background-image: linear-gradient(90deg, @aui-progress-indicator-bar-color 50%, transparent 50%, transparent 100%);
    border-radius: 3px;
    display: block;
    height: 5px;
    -webkit-transform: skewX(45deg);
    transform: skewX(45deg);
    position: absolute;
    width: 100%;
}

@-o-keyframes progressSlide {
    0% {
        background-position: 20px;
    }

    100% {
        background-position: 0;
    }
}
@-webkit-keyframes progressSlide {
    0% {
        background-position: 20px;
    }

    100% {
        background-position: 0;
    }
}

@keyframes progressSlide {
    0% {
        background-position: 20px;
    }

    100% {
        background-position: 0;
    }
}


.aui-progress-indicator[data-value] .aui-progress-indicator-value {
    background: @aui-progress-indicator-color;
    border-radius: 3px 0 0 3px;
    -webkit-transition: width 0.5s;     /* still need this for safari */
    transition: width 0.5s;
    -webkit-transform: skewX(0);
    transform: skewX(0);
}

.aui-progress-indicator-static[data-value] .aui-progress-indicator-value {
    -webkit-transition: none;     /* still need this for safari */
    transition: none;
}

/* Special rule for progress bar at 100%, needs to be round at the end */
.aui-progress-indicator[data-value="1"] .aui-progress-indicator-value {
    border-radius: 3px;
}
