@import 'imports/global';

/*! AUI Toolbar2 IE Stylesheet */
/* IE8 - swap the spacing around; doesn't wrap as nicely (last wrapped item doesn't align) 
   but avoids permanently showing 20px extra on the right-aligned buttons. */
.aui-toolbar2 .aui-toolbar2-secondary > .aui-buttons {
    margin: 0 0 0 20px;
}
.aui-toolbar2 .aui-toolbar2-secondary > .aui-buttons:first-child {
    margin-left: 0;
}
