@import 'imports/global';

.tipsy {
    font-size: 12px;
    line-height: 20px;
    font-family: Arial, sans-serif;
    padding: 4px;
}

.tipsy-inner {
    background: @aui-tooltip-bg-color;
    padding: 5px 10px;
}

.tipsy-arrow {
    border-color: @aui-tooltip-bg-color;
    border-width: 4px;
}

.tipsy-arrow-n {
    border-bottom-color: @aui-tooltip-border-color;
    margin-left: -4px;
}

.tipsy-arrow-s {
    border-top-color: @aui-tooltip-border-color;
    margin-left: -4px;
}

.tipsy-arrow-e {
    border-left-color: @aui-tooltip-border-color;
    margin-top: -4px;
}

.tipsy-arrow-w {
    border-right-color: @aui-tooltip-border-color;
    margin-top: -4px;
}

.tipsy a,
.tipsy a:visited {
    color: white;
    text-decoration: underline;
}
