@import 'imports/global';

.aui-dialog2 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* 107px - space for header/footer, 200px - popup margins*/
    #aui.height-calc("100% - 107px - 200px");
    position: relative;

    /* Assumes an explicit width is set for centering */
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.aui-dialog2.aui-layer {
    position: fixed;
    overflow: visible;
    top: 156px; /* 100px buffer + header 56px */
}

.aui-dialog2-small {
    width: 400px;
}

.aui-dialog2-medium {
    width: 600px;
}

.aui-dialog2-large {
    width: 800px;
}

.aui-dialog2-xlarge {
    width: 980px;
}

.aui-dialog2-small .aui-dialog2-content {
    min-height: 93px; /* 200px minus header and footer */
}

.aui-dialog2-medium .aui-dialog2-content {
    min-height: 193px; /* 300px minus header and footer */
}

.aui-dialog2-xlarge .aui-dialog2-content,
.aui-dialog2-large .aui-dialog2-content {
    min-height: 393px; /* 500px minus header and footer */
}

@media all and (max-height: 700px) { /* 500 + 100 each side */
    .aui-dialog2-large .aui-dialog2-content,
    .aui-dialog2-xlarge .aui-dialog2-content {
        min-height: 193px; /* 300px minus header and footer */
    }
}

@media all and (max-height: 500px) { /* 300 + 100 each side */
    .aui-dialog2-medium .aui-dialog2-content,
    .aui-dialog2-large .aui-dialog2-content,
    .aui-dialog2-xlarge .aui-dialog2-content {
        min-height: 93px; /* 300px minus header and footer */
    }
}

@media all and (max-width: 1000px) { /* 980 + 10 each side */
    .aui-dialog2-xlarge {
        width: 100%;
        #aui.height-calc("100% - 107px");
    }
    .aui-dialog2-xlarge.aui-layer {
        top: 56px; /* header height*/
    }
    .aui-dialog2-xlarge .aui-dialog2-content {
        height: 100%;
    }
}

@media all and (max-width: 820px) { /* 800 + 10 each side */
    .aui-dialog2-large {
        width: 100%;
        #aui.height-calc("100% - 107px");
    }
    .aui-dialog2-large.aui-layer {
        top: 56px; /* header height*/
    }
    .aui-dialog2-large .aui-dialog2-content {
        height: 100%;
    }
}

@media all and (max-width: 620px) { /* 600 + 10 each side */
    .aui-dialog2-medium {
        width: 100%;
        #aui.height-calc("100% - 107px");
    }
    .aui-dialog2-medium.aui-layer {
        top: 56px; /* header height*/
    }
    .aui-dialog2-medium .aui-dialog2-content {
        height: 100%;
    }
}

@media all and (max-width: 420px) { /* 400 + 10 each side */
    .aui-dialog2-small {
        width: 100%;
        #aui.height-calc("100% - 107px");
    }
    .aui-dialog2-small.aui-layer {
        top: 56px; /* header height*/
    }
    .aui-dialog2-small .aui-dialog2-content {
        height: 100%;
    }
}

/* ie8 mobile view */
.aui-dialog2-fullscreen {
    width: 100%;
    #aui.height-calc("100% - 107px");
}
.aui-dialog2-fullscreen.aui-layer {
    top: 56px; /* header height*/
}
.aui-dialog2-fullscreen .aui-dialog2-content {
    height: 100%;
}

.aui-dialog2-header,
.aui-dialog2-footer {
    background: @aui-dialog2-footer-bg-color;
}

/*
 * This is not part of the all aui-dialog2-content instances so that connect
 * dialogs can be full-height inside an iframe
 */
.aui-dialog2 .aui-dialog2-content {
    max-height: 100%;
}

.aui-dialog2-content {
    background-color: @aui-panel-bg-color;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: auto;
    padding: 20px;
}

.aui-dialog2 .aui-dialog2-header {
    margin-top: -56px;
}

.aui-dialog2-header {
    border-bottom: 1px solid @aui-dialog-border-color;
    border-radius: 5px 5px 0 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: @aui-text-color;
    font-weight: normal;
    font-size: 20px;
    height: 56px;
    overflow: hidden;
    padding: 0 20px;
    width: 100%;
    display: table;
}

.aui-dialog2-header-main,
.aui-dialog2-header-actions,
.aui-dialog2-header-secondary,
.aui-dialog2-header-close {
    display: table-cell;
    vertical-align: middle;
}

.aui-dialog2-header-main,
.aui-dialog2-header-close {
    width: 1%;
}

.aui-dialog2[data-aui-modal="true"] .aui-dialog2-header-close {
    display: none;
}

.aui-dialog2-footer-hint {
    color: @aui-dialog2-footer-hint-text-color;
    line-height: 31px; /* aui-dialog2-footer line-height - aui-dialog2-footer padding-bottom */
}

.aui-dialog2-footer-hint,
.aui-dialog2-header-main {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 10px;
}

.aui-dialog2-header-main {
    max-width: 400px;
}

.aui-dialog2-header-secondary,
.aui-dialog2-header-close,
.aui-dialog2-footer-actions {
    text-align: right;
}

.aui-dialog2-footer-actions {
    float: right;
}

.aui-dialog2-header-close {
    width: 20px;
    height: 20px;
    padding-left: 5px;
    text-align: right;
    vertical-align: middle;
    line-height: 100%;
    cursor: pointer;
    color: @aui-dialog-header-close-icon-color;
}
.aui-dialog2-warning .aui-dialog2-header {
  background-color: @aui-dialog2-header-warning-bg-color;
}

.aui-dialog2-warning .aui-dialog2-header .aui-dialog2-header-main {
  color: @aui-dialog2-header-warning-text-color;
}

.aui-dialog2-header-close .aui-icon {
    vertical-align: middle;
}


.aui-dialog2-footer {
    border-top: 1px solid @aui-dialog-border-color;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 51px; /* NOTE: This value is hard-coded in dialog.js as BUTTONS_HEIGHT */
    overflow: hidden;
    padding: 10px 20px;
    width: 100%;
    border-radius: 0 0 5px 5px;
}

.aui-dialog2-footer:empty {
    height: 5px;
    padding: 0;
}
