@import 'imports/global';

/* Firefox needs specific padding values to size the select but they cause IE8 to clip text so we need different paddings for IE */
form.aui .select {
    padding: 4px 5px;
}
form.aui .upfile {
    border: 1px solid @aui-form-field-border-color;
}

/*
 Because IE8 doesn't support max-width correctly when using border-box alternate widths need to be provided.
 - essentially these are the same as the content-box areas. The below values are the main widths minus the horizontal padding and borders (5px and 1px on each side = 12px)
*/

form.aui .text,
form.aui .password,
form.aui .textarea,
form.aui .select,
form.aui .multi-select {
    max-width: 238px;
}
form.aui .short-field {
    max-width: 63px;
}
form.aui .medium-field {
    max-width: 153px;
}
form.aui .long-field {
    max-width: 488px;
}
form.aui .full-width-field {
    max-width: none;
}