/* Primary Colors */

@adg-color-blue: #205081;
@adg-color-bright-blue-1: #3b73af;
@adg-color-charcoal: #333;
@adg-color-light-gray: #f5f5f5;
@adg-color-white: #fff;
@adg-color-black: #000;

/* Secondary Colors */
@adg-color-bright-blue-2: #3b7fc4;
@adg-color-pale-blue: #ebf2f9;
@adg-color-pale-blue-2: #ccd9ea;
@adg-color-medium-gray: #707070;
@adg-color-medium-gray-2: #999;
@adg-color-medium-gray-3: #ccc;
@adg-color-medium-gray-4: #e9e9e9;

@adg-color-green: #14892c;
@adg-color-green-2: #89c495;
@adg-color-green-3: #f3f9f4;

@adg-color-yellow: #ffd351;
@adg-color-yellow-2: #ffe9a8;
@adg-color-yellow-3: #fffdf6;

@adg-color-brown: #815b3a;
@adg-color-brown-2: #594300;

@adg-color-warm-red: #d04437;

@adg-color-blue-gray: #4a6785;
@adg-color-blue-gray-2: #a4b3c2;
@adg-color-blue-gray-3: #f6f7f9;

@adg-color-purple: #654982;

/* Derivative Colors */
@adg-color-pale-blue-derivative: #ccd9ea;
@adg-color-gray-derivative: #999;
@adg-color-gray-derivative-2: #ccc;
@adg-color-medium-green: #89c495;
@adg-color-pale-green: #f3f9f4;
@adg-color-medium-yellow: #ffe9a8;
@adg-color-pale-yellow: #fffdf6;
@adg-color-dark-brown: #594300;
@adg-color-medium-blue-gray: #a4b3c2;
@adg-color-pale-blue-gray: #f6f7f9;
