@import 'colors';

// Grid
// ----

@aui-grid: 10px;


// Fonts and Line Heights
// ----------------------

@aui-font-size-xxlarge: 24px;
@aui-font-size-xlarge: 20px;
@aui-font-size-large: 16px;
@aui-font-size-medium: 14px;
@aui-font-size-small: 12px;


// Borders
// -------

@aui-border-color: #ccc;
@aui-border-type: solid;
@aui-border-style: solid;
@aui-border-width: 1px;
@aui-border-radius-small: 3px;
@aui-border-radius-medium: 5px;


// Layout
// ------

@aui-link-color: @adg-color-bright-blue-1;
@aui-link-color-visited: @adg-color-purple;
@aui-link-decoration: none;
@aui-link-decoration-active: underline;
@aui-link-inverted-text-color: @adg-color-white;
@aui-link-inverted-bg-color: @aui-link-color;

@aui-text-color: @adg-color-charcoal;
@aui-font-family: Arial, sans-serif;
@aui-font-family-ja: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Verdana, Arial, sans-serif;

@aui-background-color: @adg-color-light-gray;
@aui-panel-bg-color: #fff;


// ### Abbreviations

@aui-abbr-border-color: @adg-color-medium-gray;


// ### Blockquotes

@aui-blockquote-text-color: @adg-color-medium-gray;


// ### Quotes

@aui-quote-text-color: @adg-color-medium-gray;


// ### Less important text.

@aui-small-text-color: @adg-color-medium-gray;


// Headings
// --------

@aui-heading-xxlarge-text-color: @aui-text-color;
@aui-heading-xxlarge-font-size: @aui-font-size-xxlarge;
@aui-heading-xxlarge-font-weight: normal;
@aui-heading-xxlarge-line-height: 1.25;
@aui-heading-xxlarge-text-transform: none;

@aui-heading-xlarge-text-color: @aui-text-color;
@aui-heading-xlarge-font-size: @aui-font-size-xlarge;
@aui-heading-xlarge-font-weight: normal;
@aui-heading-xlarge-line-height: 1.5;
@aui-heading-xlarge-text-transform: none;

@aui-heading-large-text-color: @aui-text-color;
@aui-heading-large-font-size: @aui-font-size-large;
@aui-heading-large-font-weight: bold;
@aui-heading-large-line-height: 1.5;
@aui-heading-large-text-transform: none;

@aui-heading-medium-text-color: @aui-text-color;
@aui-heading-medium-font-size: @aui-font-size-medium;
@aui-heading-medium-font-weight: bold;
@aui-heading-medium-line-height: 1.42857142857143;
@aui-heading-medium-text-transform: none;

@aui-heading-small-text-color: @adg-color-medium-gray;
@aui-heading-small-font-size: @aui-font-size-small;
@aui-heading-small-font-weight: bold;
@aui-heading-small-line-height: 1.42857142857143;
@aui-heading-small-text-transform: uppercase;

@aui-heading-xsmall-text-color: @adg-color-medium-gray;
@aui-heading-xsmall-font-size: @aui-font-size-small;
@aui-heading-xsmall-font-weight: bold;
@aui-heading-xsmall-line-height: 1.42857142857143;
@aui-heading-xsmall-text-transform: none;


// Buttons
// -------

@aui-button-border-radius: 3.01px;
@aui-button-border-style: solid;
@aui-button-border-width: 1px;
@aui-button-font-size: 14px;
@aui-button-height: 2.1428571428571em;
@aui-button-padding-x: 10px;
@aui-button-padding-y: 4px;
@aui-button-text-shadow-x: 0;
@aui-button-text-shadow-y: 1px;
@aui-button-text-shadow-blur: 0;
@aui-button-width: 1.42857142857143;
@aui-button-disabled-border-color: @adg-color-medium-gray-3;

@aui-button-active-inner-shadow-x: 0;
@aui-button-active-inner-shadow-y: 3px;
@aui-button-active-inner-shadow-blur: 6px;
@aui-button-active-inner-shadow-spread: 0;
@aui-button-active-inner-shadow-color: rgba(0, 0, 0, 0.1);

@aui-button-default-bg-color-start: #fff;
@aui-button-default-bg-color-end: #f2f2f2;
@aui-button-default-border-color: #ccc;
@aui-button-default-text-color: @adg-color-charcoal;
@aui-button-default-text-shadow-color: #fff;

@aui-button-default-active-bg-color-start: #fff;
@aui-button-default-active-bg-color-end: #f7f7f7;
@aui-button-default-active-bg-color: #ccc;
// @aui-button-default-active-bg-color: darken(@aui-button-default-bg-color-end, 15%); // LESS131
@aui-button-default-active-border-color: #999;
@aui-button-default-active-text-color: #000;
@aui-button-default-active-text-shadow-color: #fff;
@aui-button-default-active-icon-color: #707070;

@aui-button-default-disabled-bg-color-start: #fff;
@aui-button-default-disabled-bg-color-end: #f2f2f2;
@aui-button-default-disabled-border-color: #ccc;
@aui-button-default-disabled-text-color: #999;
@aui-button-default-disabled-icon-color: #cccccc;

@aui-button-primary-bg-color-start: #4687ce;
@aui-button-primary-bg-color-end: #3068a2;
@aui-button-primary-border-color: #486582;
@aui-button-primary-text-color: #fff;
@aui-button-primary-text-shadow-color: #295989;
// @aui-button-primary-text-shadow-color: shade(@adg-color-bright-blue-2, 30%); // LESS131

@aui-button-primary-active-bg-color-start: #5A94D3;
@aui-button-primary-active-bg-color-end: #3673B5;
@aui-button-primary-active-border-color: @adg-color-blue;
@aui-button-primary-active-text-color: #fff;
@aui-button-primary-active-text-shadow-color: @adg-color-blue;
@aui-button-primary-active-icon-color: #fff;

@aui-button-primary-disabled-bg-color-start: #a2c3e6;
@aui-button-primary-disabled-bg-color-end: #97b3d0;
@aui-button-primary-disabled-border-color: #7f9cb9;
@aui-button-primary-disabled-text-color: #fff;
@aui-button-primary-disabled-icon-color: #fff;

@aui-button-grouped-primary-bg-color-start: #fff;
@aui-button-grouped-primary-bg-color-end: #f2f2f2;
@aui-button-grouped-primary-border-color: #ccc;
@aui-button-grouped-primary-text-color: #3b73af;
@aui-button-grouped-primary-icon-color: #707070;

@aui-button-grouped-primary-active-border-color: #999;
@aui-button-grouped-primary-active-text-color: @adg-color-blue;

@aui-button-grouped-primary-disabled-bg-color-start: #fff;
@aui-button-grouped-primary-disabled-bg-color-end: #f2f2f2;
@aui-button-grouped-primary-disabled-border-color: #ccc;
@aui-button-grouped-primary-disabled-icon-color: #ccc;
@aui-button-grouped-primary-disabled-text-color: #9dbbd9;

@aui-button-grouped-selected-bg-color-start: #ccc;
@aui-button-grouped-selected-bg-color-end: #ddd;

@aui-button-grouped-default-disabled-icon-color: #ccc;

@aui-button-subtle-text-color: @adg-color-medium-gray;
@aui-button-subtle-dropdown2-trigger-arrow-color: @adg-color-medium-gray-2;
@aui-button-primary-split-border-color: #1f4d7d;
// @aui-button-primary-split-border-color: darken(@aui-button-primary-active-border-color, 1%); // LESS131

@aui-button-subtle-border-color: @adg-color-medium-gray-3;


// Tables
// ------

@aui-table-header-bg-color: @adg-color-white;
@aui-table-row-bg-color: @adg-color-white;
@aui-table-text-align: left;
@aui-table-vertical-align: top;
@aui-table-padding-x: @aui-grid;
@aui-table-padding-y: (@aui-grid * .7);

@aui-table-caption-bg-color: @adg-color-light-gray;
@aui-table-caption-text-color: @adg-color-medium-gray;
@aui-table-heading-text-color: @aui-text-color;
@aui-table-row-text-color: @aui-text-color;

@aui-table-interactive-row-hover-bg-color: @adg-color-light-gray;

// *DEPRECATED: Since 5.0.0.*
@aui-table-zebra-even-bg-color: @adg-color-light-gray;
@aui-table-zebra-even-text-color: @aui-text-color;
@aui-table-zebra-heading-bg-color: @adg-color-light-gray;
@aui-table-zebra-heading-text-color: @aui-text-color;


// ### Sortable

@aui-table-sortable-active-bg-color: @adg-color-light-gray;
@aui-table-sortable-active-border-color: @adg-color-charcoal;


// Header
// ------

@aui-header-bg-color: @adg-color-blue;
@aui-header-text-color: @adg-color-white;
@aui-header-border-color: #2e3D54;
@aui-header-border-style: @aui-border-style;
@aui-header-border-width: @aui-border-width;
@aui-header-padding-x: @aui-grid;
@aui-header-padding-y: 0;

@aui-header-link-text-color: @aui-header-text-color;
@aui-header-link-padding-x: @aui-grid;
@aui-header-link-padding-y: 13px;
@aui-header-link-active-bg-color: @adg-color-bright-blue-1;

@aui-header-btn-primary-bg-color-start: @adg-color-bright-blue-2;
@aui-header-btn-primary-bg-color-end: #2c66a2;
@aui-header-btn-primary-active-bg-color-start: #6299d0;
@aui-header-btn-primary-active-bg-color-end: #2c5e9b;

@aui-header-nav-btn-primary-bg-color-start: @adg-color-bright-blue-2;
@aui-header-nav-btn-primary-bg-color-end: #336ea9;
@aui-header-nav-btn-primary-text-color: @adg-color-white;
@aui-header-nav-btn-primary-hover-bg-color-start: #4796e6;
@aui-header-nav-btn-primary-hover-bg-color-end: #3773af;
@aui-header-nav-btn-primary-hover-text-color: @aui-header-nav-btn-primary-text-color;
@aui-header-nav-btn-primary-active-bg-color: #3572b0;
// @aui-header-nav-btn-primary-active-bg-color: darken(@adg-color-bright-blue-2, 5%); // LESS131

@aui-header-logo-height: 40px;
@aui-header-logo-padding-x: @aui-grid;
@aui-header-logo-padding-y: 0;

@aui-header-img-padding-x: 0;
@aui-header-img-padding-y: (@aui-grid / 2);
@aui-header-img-height: (@aui-header-logo-height - @aui-grid);

@aui-header-logo-device-height: 24px;
@aui-header-logo-device-padding-x: 0;
@aui-header-logo-device-padding-y: 8px;

@aui-header-logo-text-font-size: 14px;
@aui-header-logo-text-line-height: 1.4286;
@aui-header-logo-textonly-device-padding: 4px;

@aui-header-quicksearch-bg-color: @adg-color-light-gray;
@aui-header-quicksearch-color: @adg-color-charcoal;
@aui-header-quicksearch-focus-color: @adg-color-white;
@aui-header-quicksearch-width: 170px;
@aui-header-quicksearch-placeholder-color: @adg-color-medium-gray;


// Page Header
// -----------

@aui-page-header-hero-font-size: 48px;
@aui-page-header-hero-line-height: 1.25;
@aui-page-header-hero-p-font-size: 24px;
@aui-page-header-hero-p-line-height: 1.458333333333333;

@aui-page-header-marketing-bg-color: @adg-color-blue;
@aui-page-header-marketing-font-size: 36px;
@aui-page-header-marketing-line-height: 1.388888888888889;
@aui-page-header-marketing-text-font-size: 20px;
@aui-page-header-marketing-text-color: #707070;
@aui-page-header-marketing-text-line-height: 1.5;


// Page
// ----

@aui-page-nav-width: 240px;
@aui-page-sidebar-width: 35%;
@aui-page-width-small: 400px;
@aui-page-width-medium: 600px;
@aui-page-width-large: 800px;
@aui-page-width-xlarge: 980px;


// Navigation
// ----------

@aui-nav-text-color: @aui-text-color;
@aui-nav-heading-text-color: @adg-color-medium-gray;
@aui-nav-link-selected-text-color: @aui-nav-text-color;
@aui-nav-link-active-bg-color: #e6e6e6;
@aui-nav-link-color: #3b73af;
@aui-nav-link-spacing-horizontal: 10px;
@aui-nav-link-spacing-vertical: 7px;


// ### Paginated

@aui-nav-pagination-text-color: @aui-text-color;
@aui-nav-pagination-active-text-color: @adg-color-medium-gray-2;


// ### Groups

@aui-navgroup-horizontal-bg-color: @adg-color-light-gray;


// Footer
// ------

@aui-footer-body-text-color: @adg-color-medium-gray;
@aui-footer-body-link-text-color: @adg-color-medium-gray;


// RESTfulTable
// ------------

@aui-restfultable-row-focused-bg-color: @adg-color-pale-blue;
@aui-restfultable-row-create-border: @adg-color-medium-gray-3;
@aui-restfultable-row-editable-hover-bg-color: @adg-color-yellow-3;
@aui-restfultable-error-text-color: @adg-color-warm-red;
@aui-restfultable-header-row-bg-color: @adg-color-white;
@aui-restfultable-row-moving-bg-color: @adg-color-light-gray;
@aui-restfultable-editable-em-text-color: @adg-color-medium-gray-2;
@aui-restfultable-row-active-bg-color: @adg-color-light-gray;
@aui-restfultable-row-hover-bg-color: @adg-color-light-gray;


// Datepicker
// ----------

@aui-datepicker-day-bg-color: @adg-color-white;
@aui-datepicker-day-text-color: @aui-text-color;
@aui-datepicker-today-bg-color: @aui-link-color;
@aui-datepicker-today-text-color: @aui-datepicker-day-bg-color;
@aui-datepicker-unselectable-text-color: @adg-color-medium-gray;
@aui-datepicker-outline-color: @adg-color-medium-gray;
@aui-datepicker-disabled-text-color: @adg-color-medium-gray;


// Label
// -----

@aui-label-text-color: @adg-color-bright-blue-1;
@aui-label-bg-color: @adg-color-light-gray;
@aui-label-hover-border-color: @adg-color-medium-gray;
@aui-label-border-color: @adg-color-medium-gray-3;


// Progress Indicator
// ------------------

@aui-progress-indicator-color: @adg-color-bright-blue-1;
@aui-progress-indicator-bar-color: @adg-color-medium-gray-3;
@aui-progress-indicator-bg-color: @adg-color-medium-gray-4;


// Progress Tracker
// ----------------

@aui-progress-tracker-step-border-color: @adg-color-light-gray;
@aui-progress-tracker-inverted-step-border-color: @adg-color-white;
@aui-progress-tracker-container-color: @adg-color-light-gray;
@aui-progress-tracker-complete-color: @aui-link-color;
@aui-progress-tracker-incomplete-color: @adg-color-medium-gray-3;
@aui-progress-tracker-incomplete-text-color: @adg-color-medium-gray;


// ### Inverted

@aui-progress-tracker-inverted-container-color: @adg-color-white;


// Select2
// -------

@aui-select2-unselectable-label-text-color: @adg-color-medium-gray;
@aui-select2-placeholder-text-color: @adg-color-medium-gray;
@aui-select2-dropdown-focused-border-color: @adg-color-medium-gray;
@aui-select2-choice-border-color: @adg-color-medium-gray-2;
@aui-select2-choice-bg-color: @adg-color-light-gray;
@aui-select2-choice-text-color: @adg-color-charcoal;
@aui-select2-choices-bg-color: @adg-color-white;
@aui-select2-choice-active-text-color: @adg-color-black;
@aui-select2-choice-active-bg-color: @adg-color-light-gray;


// Forms
// -----

@aui-form-placeholder-text-color: @adg-color-medium-gray;
@aui-form-label-text-color: @adg-color-medium-gray;
@aui-form-error-text-color: @adg-color-warm-red;
@aui-form-description-text-color: @adg-color-medium-gray;
@aui-form-disabled-field-bg-color: @adg-color-light-gray;
@aui-form-disabled-field-text-color: @adg-color-medium-gray-2;
@aui-form-disabled-field-label-color: @adg-color-medium-gray-2;
@aui-form-field-border-color: @adg-color-medium-gray-3;
@aui-form-field-inner-shadow: @adg-color-medium-gray-3;
@aui-form-input-text-bg-color: @adg-color-white;
@aui-form-optgroup-text-color: @adg-color-medium-gray;
@aui-form-optgroup-bg-color: @adg-color-light-gray;
@aui-form-option-bg-color: @adg-color-white;
@aui-form-pre-bg-color: @adg-color-light-gray;


// Dialog
// ------

@aui-dialog-button-hover-border-color: @adg-color-medium-gray-2;
@aui-dialog-border-color: @adg-color-medium-gray-3;


// Toolbar
// ------

@aui-toolbar-dropdown-border-color: @adg-color-medium-gray-2;
@aui-toolbar-item-link-text-color: @adg-color-bright-blue-1;


// Avatar
// ------

@aui-avatar-project-border-color: @adg-color-medium-gray-3;
@aui-avatar-project-bg-color: @adg-color-white;


// Badges
// ------

@aui-badge-bg-color-ie: #ccc; // gives #ccc for IE8 because no RGBA support
// @aui-badge-bg-color-ie: tint(#000, 80%); // LESS131
@aui-badge-bg-color: rgba(0, 0, 0, 0.2); // gives #ccc when on white, or a black tint when on other colors
// @aui-badge-bg-color: fade(#000, 20%); // LESS131
@aui-badge-text-color: @aui-text-color;
@aui-badge-on-blue-bg-color-ie: #6c96c3; // for IE8 because no RGBA support
// @aui-badge-on-blue-bg-color-ie: tint(#3b73af, 25%); // LESS131
@aui-badge-on-blue-bg-color: rgba(255, 255, 255, 0.25); // outputs RGBA colour
// @aui-badge-on-blue-bg-color: fade(#fff, 25%); // LESS131
@aui-badge-on-blue-text-color: #fff;

// Lozenges
// --------

@aui-lozenge-bg-color: @adg-color-medium-gray-3;
@aui-lozenge-border-color: @adg-color-medium-gray-3;
@aui-lozenge-text-color: @aui-text-color;
@aui-lozenge-subtle-bg-color: @adg-color-white;
@aui-lozenge-subtle-border-color: @adg-color-medium-gray-3;
@aui-lozenge-subtle-text-color: @aui-lozenge-text-color;

@aui-lozenge-success-bg-color: @adg-color-green;
@aui-lozenge-success-border-color: @adg-color-green;
@aui-lozenge-success-subtle-text-color: @adg-color-green;
@aui-lozenge-success-subtle-border-color: #60b070;
// @aui-lozenge-success-subtle-border-color: darken(@adg-color-green-2, 12%); // LESS131

@aui-lozenge-current-bg-color: @adg-color-yellow;
@aui-lozenge-current-border-color: @adg-color-yellow;
@aui-lozenge-current-text-color: @adg-color-brown-2;
@aui-lozenge-current-subtle-text-color: @adg-color-brown-2;
@aui-lozenge-current-subtle-border-color: #ffe9a8;
// @aui-lozenge-current-subtle-border-color: tint(@adg-color-yellow, 50%); // LESS131

@aui-lozenge-moved-bg-color: @adg-color-brown;
@aui-lozenge-moved-border-color: @adg-color-brown;
@aui-lozenge-moved-subtle-text-color: @adg-color-brown;
@aui-lozenge-moved-subtle-border-color: #c0ad9d;
// @aui-lozenge-moved-subtle-border-color: tint(@adg-color-brown, 50%); // LESS131

@aui-lozenge-error-bg-color: @adg-color-warm-red;
@aui-lozenge-error-border-color: @adg-color-warm-red;
@aui-lozenge-error-subtle-text-color: @adg-color-warm-red;
@aui-lozenge-error-subtle-border-color: #e8a29b;
// @aui-lozenge-error-subtle-border-color: tint(@adg-color-warm-red, 50%); // LESS131

@aui-lozenge-complete-bg-color: @adg-color-blue-gray;
@aui-lozenge-complete-border-color: @adg-color-blue-gray;
@aui-lozenge-complete-text-color: @adg-color-blue-gray;
@aui-lozenge-complete-subtle-border-color: #a5b3c2;
// @aui-lozenge-complete-subtle-border-color: tint(@adg-color-blue-gray, 50%); // LESS131



// Inline Dialog
// -------------

@aui-inline-dialog-border-color: @adg-color-medium-gray-3;


// Messages
// --------

@aui-message-default-bg-color: @adg-color-light-gray;
@aui-message-default-border-color: @adg-color-medium-gray-3;
@aui-message-text-color: @aui-text-color;

@aui-message-success-bg-color: @adg-color-green-3;
@aui-message-success-border-color: #8ac496;
// @aui-message-success-border-color: tint(@adg-color-green, 50%); // LESS131

@aui-message-warning-bg-color: @adg-color-yellow-3;
@aui-message-warning-border-color: #ffe9a8;
// @aui-message-warning-border-color: tint(@adg-color-yellow, 50%); // LESS131


@aui-message-error-bg-color: @adg-color-warm-red;
@aui-message-error-border-color: @adg-color-warm-red;
@aui-message-error-text-color: @adg-color-white;

@aui-message-info-bg-color: @adg-color-blue-gray-3;
@aui-message-info-border-color: #a5b3c2;
// @aui-message-info-border-color: tint(@adg-color-blue-gray, 50%); // LESS131


// Tabs
// ----

@aui-tabs-tab-bg-color: @adg-color-medium-gray-4;
@aui-tabs-tab-border-color: @adg-color-medium-gray-3;
@aui-tabs-tab-text-color: @aui-text-color;

@aui-tabs-tab-hover-bg-color: @adg-color-white;
@aui-tabs-tab-hover-text-color: @aui-text-color;

@aui-tabs-tab-active-bg-color: @adg-color-white;
@aui-tabs-tab-active-text-color: @aui-text-color;


// Tipsy
// -----

@aui-tooltip-bg-color: rgba(51, 51, 51, 0.9);
// @aui-tooltip-bg-color: fade(@adg-color-charcoal, 90%); // LESS131
@aui-tooltip-border-color: rgba(51, 51, 51, 0.9);
// @aui-tooltip-border-color: fade(@adg-color-charcoal, 90%); // LESS131


// ### Success

@aui-lozenge-success-text-color: @adg-color-white;


// ### Error

@aui-lozenge-error-text-color: @adg-color-white;


// ### Complete

@aui-lozenge-complete-text-color: @adg-color-white;


// ### Moved

@aui-lozenge-moved-text-color: @adg-color-white;


// Dropdown2
// ---------

@aui-dropdown2-bg-color: @adg-color-white;
@aui-dropdown2-border-color: @adg-color-medium-gray-3;
@aui-dropdown2-trigger-color: @aui-text-color;
@aui-dropdown2-trigger-active-color: @adg-color-white;
@aui-dropdown2-disabled-text-color: @adg-color-medium-gray-3;
@aui-dropdown2-trigger-disabled-color: @aui-dropdown2-disabled-text-color;


// Dialog2
// -------

@aui-dialog2-footer-bg-color: @adg-color-light-gray;
@aui-dialog2-footer-hint-text-color: @adg-color-medium-gray;
@aui-dialog2-header-warning-bg-color: @adg-color-warm-red;
@aui-dialog2-header-warning-text-color: @adg-color-white;
@aui-dialog-header-close-icon-color: @adg-color-medium-gray;











